<div class="container-fluid p-0 hero-section text-white">
    <div class="hero-overlay d-flex flex-column justify-content-center align-items-center text-center">
      <h1 class="display-3 fw-bold">Hello User</h1>
      <h2 class="mb-3">Welcome to <span class="text-warning">RAILSAFAR</span></h2>
      <p class="lead">Plan your train journey, check bookings and more — all in one place.</p>
      <a routerLink="/train-search" class="btn btn-warning mt-3 px-4 py-2">Search Trains</a>
    </div>
  </div>
  
  
